body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    display: flex;
}

div#logo {
    margin-right: auto;
}

div#logo a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 15px;
    margin-left: 10px;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

img.event-image {
    border: 2px #000000 solid;
    width: 600px;
}

img.logo {
    margin: 10px;
    width: 300px;
    height: 300px
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

div.foreword {
}

div.foreword > p {
    margin-bottom: 1em;
    margin-top: 0px;
    text-indent: 1em;
}

div.foreword > ul {
    list-style: none;
    padding-left: 1em;
}

p#author {
    margin-top: 10px;
    text-align: right;
}

iframe {
    padding: 0;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 450px;
}

.mincho {
    font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

