/* タブ機能の掲載領域の装飾 */
.tabbox { margin: 0px; padding: 0.5em; background-color: #eeeeee; }

/* タブ機能を制御するラジオボタン(非表示にする) */
.tabbox input { display: none; }

/* タブ(共通装飾＋非選択状態の装飾) */
.tab {
    display: inline-block;
    border-width: 0px;
    padding: 0.5em 1em;
    border-radius: 5px 5px 0px 0px;
    color: #444444;
    background-color: #eeeeee;
    font-weight: bold;
    text-align: center;
}

/* タブにマウスポインタが載った際の装飾 */
.tab:hover {
    background-color: #fefefe;
    color: #555555;
    cursor: pointer;
}

/* チェックが入っているラジオボタンの隣にあるタブの装飾(＝選択状態のタブ) */
input:checked + .tab {
    color: #444444;
    background-color: #fbfbfb;
    position: relative;
    z-index: 10;
}

/* タブの中身(共通装飾＋非選択状態の装飾) */
.tabcontent:not(.target-date) {
    display: none;
    border: 0px;
    padding: 0.5em;
    position: relative;
    z-index: 0;
    background-color: #fbfbfb;
}

/* チェックが入っているラジオボタンに対応するタブの中身を表示する */
#regulars_check:checked ~ #regulars_content { display: block; }
#reg1127_check:checked ~ #reg1127_content { display: block; }
#reg1128_check:checked ~ #reg1128_content { display: block; }
#reg1129_check:checked ~ #reg1129_content { display: block; }
#reg1130_check:checked ~ #reg1130_content { display: block; }
#reg1201_check:checked ~ #reg1201_content { display: block; }
#reg1202_check:checked ~ #reg1202_content { display: block; }
#reg1203_check:checked ~ #reg1203_content { display: block; }
#reg1204_check:checked ~ #reg1204_content { display: block; }
#reg1205_check:checked ~ #reg1205_content { display: block; }
#reg1206_check:checked ~ #reg1206_content { display: block; }
#guerrillas_check:checked ~ #guerrillas_content { display: block; }
#permanents_check:checked ~ #permanents_content{ display: block; }

/* 企画の日付用クラス */
.target-date{
    margin: 0em -0.3em 0.5em -0.3em;
    height: 45px;
}
.target-date > a {
    margin: 20px;
    font-size: 20px;
    line-height: 45px;
}

/* 画像を2列に表示する */
.img-2col {
    column-count: 2;
    column-gap: 0em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    line-height: 0em;
}
.img-2col > a {
    width: 50%;
}
.img-2col > a > img {
    width: 98.5%;
}
